# Compiled class file
.idea/
*.class
target/
*.tmp
.DS_Store
.Thumbs.db
node_modules/
out/
dist/

# Log file
*.log

# BlueJ files
*.ctxt


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar