<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.Op100Mapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.Op100">
    <constructor>
      <arg column="op100_tm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_zldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_gydm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_gwdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_xbdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_sl" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op100_cgcs" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op100_ztbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op100_okbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op100_bldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_cltm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_batch" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op100_jlrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="op100_jlry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op100_moeid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op100_zzdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_gwmc" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_bsl" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op100_isfg" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.module.yf.model.Op100">
    insert into op100_det (op100_tm, op100_zldm, op100_gydm, 
      op100_gwdm, op100_xbdm, op100_sl, 
      op100_cgcs, op100_ztbz, op100_okbz, 
      op100_bldm, op100_cltm, op100_batch, 
      op100_jlrq, op100_jlry, op100_id, 
      op100_moeid, op100_zzdh, op100_gwmc, 
      op100_bsl, op100_isfg)
    values (#{op100Tm,jdbcType=NVARCHAR}, #{op100Zldm,jdbcType=NVARCHAR}, #{op100Gydm,jdbcType=NVARCHAR}, 
      #{op100Gwdm,jdbcType=NVARCHAR}, #{op100Xbdm,jdbcType=NVARCHAR}, #{op100Sl,jdbcType=INTEGER}, 
      #{op100Cgcs,jdbcType=INTEGER}, #{op100Ztbz,jdbcType=BIT}, #{op100Okbz,jdbcType=BIT}, 
      #{op100Bldm,jdbcType=NVARCHAR}, #{op100Cltm,jdbcType=NVARCHAR}, #{op100Batch,jdbcType=VARCHAR}, 
      #{op100Jlrq,jdbcType=TIMESTAMP}, #{op100Jlry,jdbcType=NVARCHAR}, #{op100Id,jdbcType=INTEGER}, 
      #{op100Moeid,jdbcType=INTEGER}, #{op100Zzdh,jdbcType=NVARCHAR}, #{op100Gwmc,jdbcType=NVARCHAR}, 
      #{op100Bsl,jdbcType=NVARCHAR}, #{op100Isfg,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.Op100">
    insert into op100_det
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="op100Tm != null">
        op100_tm,
      </if>
      <if test="op100Zldm != null">
        op100_zldm,
      </if>
      <if test="op100Gydm != null">
        op100_gydm,
      </if>
      <if test="op100Gwdm != null">
        op100_gwdm,
      </if>
      <if test="op100Xbdm != null">
        op100_xbdm,
      </if>
      <if test="op100Sl != null">
        op100_sl,
      </if>
      <if test="op100Cgcs != null">
        op100_cgcs,
      </if>
      <if test="op100Ztbz != null">
        op100_ztbz,
      </if>
      <if test="op100Okbz != null">
        op100_okbz,
      </if>
      <if test="op100Bldm != null">
        op100_bldm,
      </if>
      <if test="op100Cltm != null">
        op100_cltm,
      </if>
      <if test="op100Batch != null">
        op100_batch,
      </if>
      <if test="op100Jlrq != null">
        op100_jlrq,
      </if>
      <if test="op100Jlry != null">
        op100_jlry,
      </if>
      <if test="op100Id != null">
        op100_id,
      </if>
      <if test="op100Moeid != null">
        op100_moeid,
      </if>
      <if test="op100Zzdh != null">
        op100_zzdh,
      </if>
      <if test="op100Gwmc != null">
        op100_gwmc,
      </if>
      <if test="op100Bsl != null">
        op100_bsl,
      </if>
      <if test="op100Isfg != null">
        op100_isfg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="op100Tm != null">
        #{op100Tm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Zldm != null">
        #{op100Zldm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Gydm != null">
        #{op100Gydm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Gwdm != null">
        #{op100Gwdm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Xbdm != null">
        #{op100Xbdm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Sl != null">
        #{op100Sl,jdbcType=INTEGER},
      </if>
      <if test="op100Cgcs != null">
        #{op100Cgcs,jdbcType=INTEGER},
      </if>
      <if test="op100Ztbz != null">
        #{op100Ztbz,jdbcType=BIT},
      </if>
      <if test="op100Okbz != null">
        #{op100Okbz,jdbcType=BIT},
      </if>
      <if test="op100Bldm != null">
        #{op100Bldm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Cltm != null">
        #{op100Cltm,jdbcType=NVARCHAR},
      </if>
      <if test="op100Batch != null">
        #{op100Batch,jdbcType=VARCHAR},
      </if>
      <if test="op100Jlrq != null">
        #{op100Jlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="op100Jlry != null">
        #{op100Jlry,jdbcType=NVARCHAR},
      </if>
      <if test="op100Id != null">
        #{op100Id,jdbcType=INTEGER},
      </if>
      <if test="op100Moeid != null">
        #{op100Moeid,jdbcType=INTEGER},
      </if>
      <if test="op100Zzdh != null">
        #{op100Zzdh,jdbcType=NVARCHAR},
      </if>
      <if test="op100Gwmc != null">
        #{op100Gwmc,jdbcType=NVARCHAR},
      </if>
      <if test="op100Bsl != null">
        #{op100Bsl,jdbcType=NVARCHAR},
      </if>
      <if test="op100Isfg != null">
        #{op100Isfg,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>