<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.Op200Mapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.Op200">
    <constructor>
      <arg column="op200_tm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op200_zldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_gydm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_gwdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_xbdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_sl" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op200_cgcs" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op200_ztbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op200_okbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op200_bldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_cltm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_jlrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="op200_jlry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op200_bldm1" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_blms" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_moeid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op200_zzdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_gwmc" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_bsl" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_isfg" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op200_batch" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.module.yf.model.Op200">
    insert into op200_det (op200_tm, op200_zldm, op200_gydm, 
      op200_gwdm, op200_xbdm, op200_sl, 
      op200_cgcs, op200_ztbz, op200_okbz, 
      op200_bldm, op200_cltm, op200_jlrq, 
      op200_jlry, op200_id, op200_bldm1, 
      op200_blms, op200_moeid, op200_zzdh, 
      op200_gwmc, op200_bsl, op200_isfg, 
      op200_batch)
    values (#{op200Tm,jdbcType=VARCHAR}, #{op200Zldm,jdbcType=NVARCHAR}, #{op200Gydm,jdbcType=NVARCHAR}, 
      #{op200Gwdm,jdbcType=NVARCHAR}, #{op200Xbdm,jdbcType=NVARCHAR}, #{op200Sl,jdbcType=INTEGER}, 
      #{op200Cgcs,jdbcType=INTEGER}, #{op200Ztbz,jdbcType=BIT}, #{op200Okbz,jdbcType=BIT}, 
      #{op200Bldm,jdbcType=NVARCHAR}, #{op200Cltm,jdbcType=NVARCHAR}, #{op200Jlrq,jdbcType=TIMESTAMP}, 
      #{op200Jlry,jdbcType=NVARCHAR}, #{op200Id,jdbcType=INTEGER}, #{op200Bldm1,jdbcType=NVARCHAR}, 
      #{op200Blms,jdbcType=NVARCHAR}, #{op200Moeid,jdbcType=INTEGER}, #{op200Zzdh,jdbcType=NVARCHAR}, 
      #{op200Gwmc,jdbcType=NVARCHAR}, #{op200Bsl,jdbcType=NVARCHAR}, #{op200Isfg,jdbcType=NVARCHAR}, 
      #{op200Batch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.Op200">
    insert into op200_det
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="op200Tm != null">
        op200_tm,
      </if>
      <if test="op200Zldm != null">
        op200_zldm,
      </if>
      <if test="op200Gydm != null">
        op200_gydm,
      </if>
      <if test="op200Gwdm != null">
        op200_gwdm,
      </if>
      <if test="op200Xbdm != null">
        op200_xbdm,
      </if>
      <if test="op200Sl != null">
        op200_sl,
      </if>
      <if test="op200Cgcs != null">
        op200_cgcs,
      </if>
      <if test="op200Ztbz != null">
        op200_ztbz,
      </if>
      <if test="op200Okbz != null">
        op200_okbz,
      </if>
      <if test="op200Bldm != null">
        op200_bldm,
      </if>
      <if test="op200Cltm != null">
        op200_cltm,
      </if>
      <if test="op200Jlrq != null">
        op200_jlrq,
      </if>
      <if test="op200Jlry != null">
        op200_jlry,
      </if>
      <if test="op200Id != null">
        op200_id,
      </if>
      <if test="op200Bldm1 != null">
        op200_bldm1,
      </if>
      <if test="op200Blms != null">
        op200_blms,
      </if>
      <if test="op200Moeid != null">
        op200_moeid,
      </if>
      <if test="op200Zzdh != null">
        op200_zzdh,
      </if>
      <if test="op200Gwmc != null">
        op200_gwmc,
      </if>
      <if test="op200Bsl != null">
        op200_bsl,
      </if>
      <if test="op200Isfg != null">
        op200_isfg,
      </if>
      <if test="op200Batch != null">
        op200_batch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="op200Tm != null">
        #{op200Tm,jdbcType=VARCHAR},
      </if>
      <if test="op200Zldm != null">
        #{op200Zldm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Gydm != null">
        #{op200Gydm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Gwdm != null">
        #{op200Gwdm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Xbdm != null">
        #{op200Xbdm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Sl != null">
        #{op200Sl,jdbcType=INTEGER},
      </if>
      <if test="op200Cgcs != null">
        #{op200Cgcs,jdbcType=INTEGER},
      </if>
      <if test="op200Ztbz != null">
        #{op200Ztbz,jdbcType=BIT},
      </if>
      <if test="op200Okbz != null">
        #{op200Okbz,jdbcType=BIT},
      </if>
      <if test="op200Bldm != null">
        #{op200Bldm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Cltm != null">
        #{op200Cltm,jdbcType=NVARCHAR},
      </if>
      <if test="op200Jlrq != null">
        #{op200Jlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="op200Jlry != null">
        #{op200Jlry,jdbcType=NVARCHAR},
      </if>
      <if test="op200Id != null">
        #{op200Id,jdbcType=INTEGER},
      </if>
      <if test="op200Bldm1 != null">
        #{op200Bldm1,jdbcType=NVARCHAR},
      </if>
      <if test="op200Blms != null">
        #{op200Blms,jdbcType=NVARCHAR},
      </if>
      <if test="op200Moeid != null">
        #{op200Moeid,jdbcType=INTEGER},
      </if>
      <if test="op200Zzdh != null">
        #{op200Zzdh,jdbcType=NVARCHAR},
      </if>
      <if test="op200Gwmc != null">
        #{op200Gwmc,jdbcType=NVARCHAR},
      </if>
      <if test="op200Bsl != null">
        #{op200Bsl,jdbcType=NVARCHAR},
      </if>
      <if test="op200Isfg != null">
        #{op200Isfg,jdbcType=NVARCHAR},
      </if>
      <if test="op200Batch != null">
        #{op200Batch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>