<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.Op500Mapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.Op500">
    <constructor>
      <arg column="op500_tm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op500_zldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_gydm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_gwdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_xbdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_sl" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op500_cgcs" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op500_ztbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op500_okbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="op500_bldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_cltm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_jlrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="op500_jlry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op500_bldm1" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_blms" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_moeid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op500_zzdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_gwmc" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_bsl" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_isfg" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_oqcdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="op500_batch" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.module.yf.model.Op500">
    insert into op500_det (op500_tm, op500_zldm, op500_gydm, 
      op500_gwdm, op500_xbdm, op500_sl, 
      op500_cgcs, op500_ztbz, op500_okbz, 
      op500_bldm, op500_cltm, op500_jlrq, 
      op500_jlry, op500_id, op500_bldm1, 
      op500_blms, op500_moeid, op500_zzdh, 
      op500_gwmc, op500_bsl, op500_isfg, 
      op500_oqcdh, op500_batch)
    values (#{op500Tm,jdbcType=VARCHAR}, #{op500Zldm,jdbcType=NVARCHAR}, #{op500Gydm,jdbcType=NVARCHAR}, 
      #{op500Gwdm,jdbcType=NVARCHAR}, #{op500Xbdm,jdbcType=NVARCHAR}, #{op500Sl,jdbcType=INTEGER}, 
      #{op500Cgcs,jdbcType=INTEGER}, #{op500Ztbz,jdbcType=BIT}, #{op500Okbz,jdbcType=BIT}, 
      #{op500Bldm,jdbcType=NVARCHAR}, #{op500Cltm,jdbcType=NVARCHAR}, #{op500Jlrq,jdbcType=TIMESTAMP}, 
      #{op500Jlry,jdbcType=NVARCHAR}, #{op500Id,jdbcType=INTEGER}, #{op500Bldm1,jdbcType=NVARCHAR}, 
      #{op500Blms,jdbcType=NVARCHAR}, #{op500Moeid,jdbcType=INTEGER}, #{op500Zzdh,jdbcType=NVARCHAR}, 
      #{op500Gwmc,jdbcType=NVARCHAR}, #{op500Bsl,jdbcType=NVARCHAR}, #{op500Isfg,jdbcType=NVARCHAR}, 
      #{op500Oqcdh,jdbcType=NVARCHAR}, #{op500Batch,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.Op500">
    insert into op500_det
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="op500Tm != null">
        op500_tm,
      </if>
      <if test="op500Zldm != null">
        op500_zldm,
      </if>
      <if test="op500Gydm != null">
        op500_gydm,
      </if>
      <if test="op500Gwdm != null">
        op500_gwdm,
      </if>
      <if test="op500Xbdm != null">
        op500_xbdm,
      </if>
      <if test="op500Sl != null">
        op500_sl,
      </if>
      <if test="op500Cgcs != null">
        op500_cgcs,
      </if>
      <if test="op500Ztbz != null">
        op500_ztbz,
      </if>
      <if test="op500Okbz != null">
        op500_okbz,
      </if>
      <if test="op500Bldm != null">
        op500_bldm,
      </if>
      <if test="op500Cltm != null">
        op500_cltm,
      </if>
      <if test="op500Jlrq != null">
        op500_jlrq,
      </if>
      <if test="op500Jlry != null">
        op500_jlry,
      </if>
      <if test="op500Id != null">
        op500_id,
      </if>
      <if test="op500Bldm1 != null">
        op500_bldm1,
      </if>
      <if test="op500Blms != null">
        op500_blms,
      </if>
      <if test="op500Moeid != null">
        op500_moeid,
      </if>
      <if test="op500Zzdh != null">
        op500_zzdh,
      </if>
      <if test="op500Gwmc != null">
        op500_gwmc,
      </if>
      <if test="op500Bsl != null">
        op500_bsl,
      </if>
      <if test="op500Isfg != null">
        op500_isfg,
      </if>
      <if test="op500Oqcdh != null">
        op500_oqcdh,
      </if>
      <if test="op500Batch != null">
        op500_batch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="op500Tm != null">
        #{op500Tm,jdbcType=VARCHAR},
      </if>
      <if test="op500Zldm != null">
        #{op500Zldm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Gydm != null">
        #{op500Gydm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Gwdm != null">
        #{op500Gwdm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Xbdm != null">
        #{op500Xbdm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Sl != null">
        #{op500Sl,jdbcType=INTEGER},
      </if>
      <if test="op500Cgcs != null">
        #{op500Cgcs,jdbcType=INTEGER},
      </if>
      <if test="op500Ztbz != null">
        #{op500Ztbz,jdbcType=BIT},
      </if>
      <if test="op500Okbz != null">
        #{op500Okbz,jdbcType=BIT},
      </if>
      <if test="op500Bldm != null">
        #{op500Bldm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Cltm != null">
        #{op500Cltm,jdbcType=NVARCHAR},
      </if>
      <if test="op500Jlrq != null">
        #{op500Jlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="op500Jlry != null">
        #{op500Jlry,jdbcType=NVARCHAR},
      </if>
      <if test="op500Id != null">
        #{op500Id,jdbcType=INTEGER},
      </if>
      <if test="op500Bldm1 != null">
        #{op500Bldm1,jdbcType=NVARCHAR},
      </if>
      <if test="op500Blms != null">
        #{op500Blms,jdbcType=NVARCHAR},
      </if>
      <if test="op500Moeid != null">
        #{op500Moeid,jdbcType=INTEGER},
      </if>
      <if test="op500Zzdh != null">
        #{op500Zzdh,jdbcType=NVARCHAR},
      </if>
      <if test="op500Gwmc != null">
        #{op500Gwmc,jdbcType=NVARCHAR},
      </if>
      <if test="op500Bsl != null">
        #{op500Bsl,jdbcType=NVARCHAR},
      </if>
      <if test="op500Isfg != null">
        #{op500Isfg,jdbcType=NVARCHAR},
      </if>
      <if test="op500Oqcdh != null">
        #{op500Oqcdh,jdbcType=NVARCHAR},
      </if>
      <if test="op500Batch != null">
        #{op500Batch,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>