<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.ScmMapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.Scm">
    <constructor>
      <idArg column="scm_dm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_mc" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_lb" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_zldm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_gzdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_xbdm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_no" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_czry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_ztbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="scm_jlrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="scm_jlry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_ggrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="scm_ggry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_bz" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="scm_msg" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="scm_txt" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    scm_dm, scm_mc, scm_lb, scm_zldm, scm_gzdm, scm_xbdm, scm_no, scm_czry, scm_ztbz, 
    scm_jlrq, scm_jlry, scm_ggrq, scm_ggry, scm_bz, scm_id, scm_msg, scm_txt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scm_mstr
    where scm_dm = #{scmDm,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from scm_mstr
    where scm_dm = #{scmDm,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.module.yf.model.Scm">
    insert into scm_mstr (scm_dm, scm_mc, scm_lb, 
      scm_zldm, scm_gzdm, scm_xbdm, 
      scm_no, scm_czry, scm_ztbz, 
      scm_jlrq, scm_jlry, scm_ggrq, 
      scm_ggry, scm_bz, scm_id, 
      scm_msg, scm_txt)
    values (#{scmDm,jdbcType=NVARCHAR}, #{scmMc,jdbcType=NVARCHAR}, #{scmLb,jdbcType=NVARCHAR}, 
      #{scmZldm,jdbcType=NVARCHAR}, #{scmGzdm,jdbcType=NVARCHAR}, #{scmXbdm,jdbcType=NVARCHAR}, 
      #{scmNo,jdbcType=NVARCHAR}, #{scmCzry,jdbcType=NVARCHAR}, #{scmZtbz,jdbcType=BIT}, 
      #{scmJlrq,jdbcType=TIMESTAMP}, #{scmJlry,jdbcType=NVARCHAR}, #{scmGgrq,jdbcType=TIMESTAMP}, 
      #{scmGgry,jdbcType=NVARCHAR}, #{scmBz,jdbcType=NVARCHAR}, #{scmId,jdbcType=INTEGER}, 
      #{scmMsg,jdbcType=NVARCHAR}, #{scmTxt,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.Scm">
    insert into scm_mstr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scmDm != null">
        scm_dm,
      </if>
      <if test="scmMc != null">
        scm_mc,
      </if>
      <if test="scmLb != null">
        scm_lb,
      </if>
      <if test="scmZldm != null">
        scm_zldm,
      </if>
      <if test="scmGzdm != null">
        scm_gzdm,
      </if>
      <if test="scmXbdm != null">
        scm_xbdm,
      </if>
      <if test="scmNo != null">
        scm_no,
      </if>
      <if test="scmCzry != null">
        scm_czry,
      </if>
      <if test="scmZtbz != null">
        scm_ztbz,
      </if>
      <if test="scmJlrq != null">
        scm_jlrq,
      </if>
      <if test="scmJlry != null">
        scm_jlry,
      </if>
      <if test="scmGgrq != null">
        scm_ggrq,
      </if>
      <if test="scmGgry != null">
        scm_ggry,
      </if>
      <if test="scmBz != null">
        scm_bz,
      </if>
      <if test="scmId != null">
        scm_id,
      </if>
      <if test="scmMsg != null">
        scm_msg,
      </if>
      <if test="scmTxt != null">
        scm_txt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scmDm != null">
        #{scmDm,jdbcType=NVARCHAR},
      </if>
      <if test="scmMc != null">
        #{scmMc,jdbcType=NVARCHAR},
      </if>
      <if test="scmLb != null">
        #{scmLb,jdbcType=NVARCHAR},
      </if>
      <if test="scmZldm != null">
        #{scmZldm,jdbcType=NVARCHAR},
      </if>
      <if test="scmGzdm != null">
        #{scmGzdm,jdbcType=NVARCHAR},
      </if>
      <if test="scmXbdm != null">
        #{scmXbdm,jdbcType=NVARCHAR},
      </if>
      <if test="scmNo != null">
        #{scmNo,jdbcType=NVARCHAR},
      </if>
      <if test="scmCzry != null">
        #{scmCzry,jdbcType=NVARCHAR},
      </if>
      <if test="scmZtbz != null">
        #{scmZtbz,jdbcType=BIT},
      </if>
      <if test="scmJlrq != null">
        #{scmJlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="scmJlry != null">
        #{scmJlry,jdbcType=NVARCHAR},
      </if>
      <if test="scmGgrq != null">
        #{scmGgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="scmGgry != null">
        #{scmGgry,jdbcType=NVARCHAR},
      </if>
      <if test="scmBz != null">
        #{scmBz,jdbcType=NVARCHAR},
      </if>
      <if test="scmId != null">
        #{scmId,jdbcType=INTEGER},
      </if>
      <if test="scmMsg != null">
        #{scmMsg,jdbcType=NVARCHAR},
      </if>
      <if test="scmTxt != null">
        #{scmTxt,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.module.yf.model.Scm">
    update scm_mstr
    <set>
      <if test="scmMc != null">
        scm_mc = #{scmMc,jdbcType=NVARCHAR},
      </if>
      <if test="scmLb != null">
        scm_lb = #{scmLb,jdbcType=NVARCHAR},
      </if>
      <if test="scmZldm != null">
        scm_zldm = #{scmZldm,jdbcType=NVARCHAR},
      </if>
      <if test="scmGzdm != null">
        scm_gzdm = #{scmGzdm,jdbcType=NVARCHAR},
      </if>
      <if test="scmXbdm != null">
        scm_xbdm = #{scmXbdm,jdbcType=NVARCHAR},
      </if>
      <if test="scmNo != null">
        scm_no = #{scmNo,jdbcType=NVARCHAR},
      </if>
      <if test="scmCzry != null">
        scm_czry = #{scmCzry,jdbcType=NVARCHAR},
      </if>
      <if test="scmZtbz != null">
        scm_ztbz = #{scmZtbz,jdbcType=BIT},
      </if>
      <if test="scmJlrq != null">
        scm_jlrq = #{scmJlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="scmJlry != null">
        scm_jlry = #{scmJlry,jdbcType=NVARCHAR},
      </if>
      <if test="scmGgrq != null">
        scm_ggrq = #{scmGgrq,jdbcType=TIMESTAMP},
      </if>
      <if test="scmGgry != null">
        scm_ggry = #{scmGgry,jdbcType=NVARCHAR},
      </if>
      <if test="scmBz != null">
        scm_bz = #{scmBz,jdbcType=NVARCHAR},
      </if>
      <if test="scmId != null">
        scm_id = #{scmId,jdbcType=INTEGER},
      </if>
      <if test="scmMsg != null">
        scm_msg = #{scmMsg,jdbcType=NVARCHAR},
      </if>
      <if test="scmTxt != null">
        scm_txt = #{scmTxt,jdbcType=NVARCHAR},
      </if>
    </set>
    where scm_dm = #{scmDm,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.module.yf.model.Scm">
    update scm_mstr
    set scm_mc = #{scmMc,jdbcType=NVARCHAR},
      scm_lb = #{scmLb,jdbcType=NVARCHAR},
      scm_zldm = #{scmZldm,jdbcType=NVARCHAR},
      scm_gzdm = #{scmGzdm,jdbcType=NVARCHAR},
      scm_xbdm = #{scmXbdm,jdbcType=NVARCHAR},
      scm_no = #{scmNo,jdbcType=NVARCHAR},
      scm_czry = #{scmCzry,jdbcType=NVARCHAR},
      scm_ztbz = #{scmZtbz,jdbcType=BIT},
      scm_jlrq = #{scmJlrq,jdbcType=TIMESTAMP},
      scm_jlry = #{scmJlry,jdbcType=NVARCHAR},
      scm_ggrq = #{scmGgrq,jdbcType=TIMESTAMP},
      scm_ggry = #{scmGgry,jdbcType=NVARCHAR},
      scm_bz = #{scmBz,jdbcType=NVARCHAR},
      scm_id = #{scmId,jdbcType=INTEGER},
      scm_msg = #{scmMsg,jdbcType=NVARCHAR},
      scm_txt = #{scmTxt,jdbcType=NVARCHAR}
    where scm_dm = #{scmDm,jdbcType=NVARCHAR}
  </update>

</mapper>