<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.SemMapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.Sem">
    <constructor>
      <idArg column="sem_tm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_moeid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_lb" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_ztbz" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="sem_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_main" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_isok" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_whdm" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sftr" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sfcc" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sfcscc" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sfcstr" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sffgtr" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sffgcc" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sfcsfgtr" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_sfcsfgcc" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sem_trdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_ccdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_cstrdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_csccdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_fgtrdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_fgccdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_csfgtrdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_csfgccdate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sem_fgdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_csfgdh" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_zcxb" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_fgxb" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_cszcxb" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="sem_csfgxb" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    sem_tm, sem_moeid, sem_lb, sem_ztbz, sem_id, sem_main, sem_isok, sem_whdm, sem_sftr, 
    sem_sfcc, sem_sfcscc, sem_sfcstr, sem_sffgtr, sem_sffgcc, sem_sfcsfgtr, sem_sfcsfgcc, 
    sem_trdate, sem_ccdate, sem_cstrdate, sem_csccdate, sem_fgtrdate, sem_fgccdate, sem_csfgtrdate, 
    sem_csfgccdate, sem_fgdh, sem_csfgdh, sem_zcxb, sem_fgxb, sem_cszcxb, sem_csfgxb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sem_mstr
    where sem_tm = #{semTm,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sem_mstr
    where sem_tm = #{semTm,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.module.yf.model.Sem">
    insert into sem_mstr (sem_tm, sem_moeid, sem_lb, 
      sem_ztbz, sem_id, sem_main, 
      sem_isok, sem_whdm, sem_sftr, 
      sem_sfcc, sem_sfcscc, sem_sfcstr, 
      sem_sffgtr, sem_sffgcc, sem_sfcsfgtr, 
      sem_sfcsfgcc, sem_trdate, sem_ccdate, 
      sem_cstrdate, sem_csccdate, sem_fgtrdate, 
      sem_fgccdate, sem_csfgtrdate, sem_csfgccdate, 
      sem_fgdh, sem_csfgdh, sem_zcxb, 
      sem_fgxb, sem_cszcxb, sem_csfgxb
      )
    values (#{semTm,jdbcType=NVARCHAR}, #{semMoeid,jdbcType=INTEGER}, #{semLb,jdbcType=NVARCHAR}, 
      #{semZtbz,jdbcType=BIT}, #{semId,jdbcType=INTEGER}, #{semMain,jdbcType=NVARCHAR}, 
      #{semIsok,jdbcType=INTEGER}, #{semWhdm,jdbcType=INTEGER}, #{semSftr,jdbcType=INTEGER}, 
      #{semSfcc,jdbcType=INTEGER}, #{semSfcscc,jdbcType=INTEGER}, #{semSfcstr,jdbcType=INTEGER}, 
      #{semSffgtr,jdbcType=INTEGER}, #{semSffgcc,jdbcType=INTEGER}, #{semSfcsfgtr,jdbcType=INTEGER}, 
      #{semSfcsfgcc,jdbcType=INTEGER}, #{semTrdate,jdbcType=TIMESTAMP}, #{semCcdate,jdbcType=TIMESTAMP}, 
      #{semCstrdate,jdbcType=TIMESTAMP}, #{semCsccdate,jdbcType=TIMESTAMP}, #{semFgtrdate,jdbcType=TIMESTAMP}, 
      #{semFgccdate,jdbcType=TIMESTAMP}, #{semCsfgtrdate,jdbcType=TIMESTAMP}, #{semCsfgccdate,jdbcType=TIMESTAMP}, 
      #{semFgdh,jdbcType=NVARCHAR}, #{semCsfgdh,jdbcType=NVARCHAR}, #{semZcxb,jdbcType=NVARCHAR}, 
      #{semFgxb,jdbcType=NVARCHAR}, #{semCszcxb,jdbcType=NVARCHAR}, #{semCsfgxb,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.Sem">
    insert into sem_mstr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="semTm != null">
        sem_tm,
      </if>
      <if test="semMoeid != null">
        sem_moeid,
      </if>
      <if test="semLb != null">
        sem_lb,
      </if>
      <if test="semZtbz != null">
        sem_ztbz,
      </if>
      <if test="semId != null">
        sem_id,
      </if>
      <if test="semMain != null">
        sem_main,
      </if>
      <if test="semIsok != null">
        sem_isok,
      </if>
      <if test="semWhdm != null">
        sem_whdm,
      </if>
      <if test="semSftr != null">
        sem_sftr,
      </if>
      <if test="semSfcc != null">
        sem_sfcc,
      </if>
      <if test="semSfcscc != null">
        sem_sfcscc,
      </if>
      <if test="semSfcstr != null">
        sem_sfcstr,
      </if>
      <if test="semSffgtr != null">
        sem_sffgtr,
      </if>
      <if test="semSffgcc != null">
        sem_sffgcc,
      </if>
      <if test="semSfcsfgtr != null">
        sem_sfcsfgtr,
      </if>
      <if test="semSfcsfgcc != null">
        sem_sfcsfgcc,
      </if>
      <if test="semTrdate != null">
        sem_trdate,
      </if>
      <if test="semCcdate != null">
        sem_ccdate,
      </if>
      <if test="semCstrdate != null">
        sem_cstrdate,
      </if>
      <if test="semCsccdate != null">
        sem_csccdate,
      </if>
      <if test="semFgtrdate != null">
        sem_fgtrdate,
      </if>
      <if test="semFgccdate != null">
        sem_fgccdate,
      </if>
      <if test="semCsfgtrdate != null">
        sem_csfgtrdate,
      </if>
      <if test="semCsfgccdate != null">
        sem_csfgccdate,
      </if>
      <if test="semFgdh != null">
        sem_fgdh,
      </if>
      <if test="semCsfgdh != null">
        sem_csfgdh,
      </if>
      <if test="semZcxb != null">
        sem_zcxb,
      </if>
      <if test="semFgxb != null">
        sem_fgxb,
      </if>
      <if test="semCszcxb != null">
        sem_cszcxb,
      </if>
      <if test="semCsfgxb != null">
        sem_csfgxb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="semTm != null">
        #{semTm,jdbcType=NVARCHAR},
      </if>
      <if test="semMoeid != null">
        #{semMoeid,jdbcType=INTEGER},
      </if>
      <if test="semLb != null">
        #{semLb,jdbcType=NVARCHAR},
      </if>
      <if test="semZtbz != null">
        #{semZtbz,jdbcType=BIT},
      </if>
      <if test="semId != null">
        #{semId,jdbcType=INTEGER},
      </if>
      <if test="semMain != null">
        #{semMain,jdbcType=NVARCHAR},
      </if>
      <if test="semIsok != null">
        #{semIsok,jdbcType=INTEGER},
      </if>
      <if test="semWhdm != null">
        #{semWhdm,jdbcType=INTEGER},
      </if>
      <if test="semSftr != null">
        #{semSftr,jdbcType=INTEGER},
      </if>
      <if test="semSfcc != null">
        #{semSfcc,jdbcType=INTEGER},
      </if>
      <if test="semSfcscc != null">
        #{semSfcscc,jdbcType=INTEGER},
      </if>
      <if test="semSfcstr != null">
        #{semSfcstr,jdbcType=INTEGER},
      </if>
      <if test="semSffgtr != null">
        #{semSffgtr,jdbcType=INTEGER},
      </if>
      <if test="semSffgcc != null">
        #{semSffgcc,jdbcType=INTEGER},
      </if>
      <if test="semSfcsfgtr != null">
        #{semSfcsfgtr,jdbcType=INTEGER},
      </if>
      <if test="semSfcsfgcc != null">
        #{semSfcsfgcc,jdbcType=INTEGER},
      </if>
      <if test="semTrdate != null">
        #{semTrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCcdate != null">
        #{semCcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCstrdate != null">
        #{semCstrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsccdate != null">
        #{semCsccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgtrdate != null">
        #{semFgtrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgccdate != null">
        #{semFgccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsfgtrdate != null">
        #{semCsfgtrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsfgccdate != null">
        #{semCsfgccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgdh != null">
        #{semFgdh,jdbcType=NVARCHAR},
      </if>
      <if test="semCsfgdh != null">
        #{semCsfgdh,jdbcType=NVARCHAR},
      </if>
      <if test="semZcxb != null">
        #{semZcxb,jdbcType=NVARCHAR},
      </if>
      <if test="semFgxb != null">
        #{semFgxb,jdbcType=NVARCHAR},
      </if>
      <if test="semCszcxb != null">
        #{semCszcxb,jdbcType=NVARCHAR},
      </if>
      <if test="semCsfgxb != null">
        #{semCsfgxb,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.module.yf.model.Sem">
    update sem_mstr
    <set>
      <if test="semMoeid != null">
        sem_moeid = #{semMoeid,jdbcType=INTEGER},
      </if>
      <if test="semLb != null">
        sem_lb = #{semLb,jdbcType=NVARCHAR},
      </if>
      <if test="semZtbz != null">
        sem_ztbz = #{semZtbz,jdbcType=BIT},
      </if>
      <if test="semId != null">
        sem_id = #{semId,jdbcType=INTEGER},
      </if>
      <if test="semMain != null">
        sem_main = #{semMain,jdbcType=NVARCHAR},
      </if>
      <if test="semIsok != null">
        sem_isok = #{semIsok,jdbcType=INTEGER},
      </if>
      <if test="semWhdm != null">
        sem_whdm = #{semWhdm,jdbcType=INTEGER},
      </if>
      <if test="semSftr != null">
        sem_sftr = #{semSftr,jdbcType=INTEGER},
      </if>
      <if test="semSfcc != null">
        sem_sfcc = #{semSfcc,jdbcType=INTEGER},
      </if>
      <if test="semSfcscc != null">
        sem_sfcscc = #{semSfcscc,jdbcType=INTEGER},
      </if>
      <if test="semSfcstr != null">
        sem_sfcstr = #{semSfcstr,jdbcType=INTEGER},
      </if>
      <if test="semSffgtr != null">
        sem_sffgtr = #{semSffgtr,jdbcType=INTEGER},
      </if>
      <if test="semSffgcc != null">
        sem_sffgcc = #{semSffgcc,jdbcType=INTEGER},
      </if>
      <if test="semSfcsfgtr != null">
        sem_sfcsfgtr = #{semSfcsfgtr,jdbcType=INTEGER},
      </if>
      <if test="semSfcsfgcc != null">
        sem_sfcsfgcc = #{semSfcsfgcc,jdbcType=INTEGER},
      </if>
      <if test="semTrdate != null">
        sem_trdate = #{semTrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCcdate != null">
        sem_ccdate = #{semCcdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCstrdate != null">
        sem_cstrdate = #{semCstrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsccdate != null">
        sem_csccdate = #{semCsccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgtrdate != null">
        sem_fgtrdate = #{semFgtrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgccdate != null">
        sem_fgccdate = #{semFgccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsfgtrdate != null">
        sem_csfgtrdate = #{semCsfgtrdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semCsfgccdate != null">
        sem_csfgccdate = #{semCsfgccdate,jdbcType=TIMESTAMP},
      </if>
      <if test="semFgdh != null">
        sem_fgdh = #{semFgdh,jdbcType=NVARCHAR},
      </if>
      <if test="semCsfgdh != null">
        sem_csfgdh = #{semCsfgdh,jdbcType=NVARCHAR},
      </if>
      <if test="semZcxb != null">
        sem_zcxb = #{semZcxb,jdbcType=NVARCHAR},
      </if>
      <if test="semFgxb != null">
        sem_fgxb = #{semFgxb,jdbcType=NVARCHAR},
      </if>
      <if test="semCszcxb != null">
        sem_cszcxb = #{semCszcxb,jdbcType=NVARCHAR},
      </if>
      <if test="semCsfgxb != null">
        sem_csfgxb = #{semCsfgxb,jdbcType=NVARCHAR},
      </if>
    </set>
    where sem_tm = #{semTm,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.module.yf.model.Sem">
    update sem_mstr
    set sem_moeid = #{semMoeid,jdbcType=INTEGER},
      sem_lb = #{semLb,jdbcType=NVARCHAR},
      sem_ztbz = #{semZtbz,jdbcType=BIT},
      sem_id = #{semId,jdbcType=INTEGER},
      sem_main = #{semMain,jdbcType=NVARCHAR},
      sem_isok = #{semIsok,jdbcType=INTEGER},
      sem_whdm = #{semWhdm,jdbcType=INTEGER},
      sem_sftr = #{semSftr,jdbcType=INTEGER},
      sem_sfcc = #{semSfcc,jdbcType=INTEGER},
      sem_sfcscc = #{semSfcscc,jdbcType=INTEGER},
      sem_sfcstr = #{semSfcstr,jdbcType=INTEGER},
      sem_sffgtr = #{semSffgtr,jdbcType=INTEGER},
      sem_sffgcc = #{semSffgcc,jdbcType=INTEGER},
      sem_sfcsfgtr = #{semSfcsfgtr,jdbcType=INTEGER},
      sem_sfcsfgcc = #{semSfcsfgcc,jdbcType=INTEGER},
      sem_trdate = #{semTrdate,jdbcType=TIMESTAMP},
      sem_ccdate = #{semCcdate,jdbcType=TIMESTAMP},
      sem_cstrdate = #{semCstrdate,jdbcType=TIMESTAMP},
      sem_csccdate = #{semCsccdate,jdbcType=TIMESTAMP},
      sem_fgtrdate = #{semFgtrdate,jdbcType=TIMESTAMP},
      sem_fgccdate = #{semFgccdate,jdbcType=TIMESTAMP},
      sem_csfgtrdate = #{semCsfgtrdate,jdbcType=TIMESTAMP},
      sem_csfgccdate = #{semCsfgccdate,jdbcType=TIMESTAMP},
      sem_fgdh = #{semFgdh,jdbcType=NVARCHAR},
      sem_csfgdh = #{semCsfgdh,jdbcType=NVARCHAR},
      sem_zcxb = #{semZcxb,jdbcType=NVARCHAR},
      sem_fgxb = #{semFgxb,jdbcType=NVARCHAR},
      sem_cszcxb = #{semCszcxb,jdbcType=NVARCHAR},
      sem_csfgxb = #{semCsfgxb,jdbcType=NVARCHAR}
    where sem_tm = #{semTm,jdbcType=NVARCHAR}
  </update>

</mapper>