<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.yf.dao.TidModelMapper">
  <resultMap id="BaseResultMap" type="com.module.yf.model.TidModel">
    <constructor>
      <idArg column="tid_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tid_tm" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="tid_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="tid_ztbz" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tid_jlrq" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="tid_jlry" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="tid_expireSpan" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tid_expireDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="tid_bz" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    tid_id, tid_tm, tid_time, tid_ztbz, tid_jlrq, tid_jlry, tid_expireSpan, tid_expireDate, 
    tid_bz
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Tid_det
    where tid_id = #{tidId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Tid_det
    where tid_id = #{tidId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.module.yf.model.TidModel">
    insert into Tid_det (tid_id, tid_tm, tid_time, 
      tid_ztbz, tid_jlrq, tid_jlry, 
      tid_expireSpan, tid_expireDate, tid_bz
      )
    values (#{tidId,jdbcType=INTEGER}, #{tidTm,jdbcType=NVARCHAR}, #{tidTime,jdbcType=TIMESTAMP}, 
      #{tidZtbz,jdbcType=INTEGER}, #{tidJlrq,jdbcType=TIMESTAMP}, #{tidJlry,jdbcType=NVARCHAR}, 
      #{tidExpirespan,jdbcType=INTEGER}, #{tidExpiredate,jdbcType=TIMESTAMP}, #{tidBz,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.module.yf.model.TidModel">
    insert into Tid_det
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tidId != null">
        tid_id,
      </if>
      <if test="tidTm != null">
        tid_tm,
      </if>
      <if test="tidTime != null">
        tid_time,
      </if>
      <if test="tidZtbz != null">
        tid_ztbz,
      </if>
      <if test="tidJlrq != null">
        tid_jlrq,
      </if>
      <if test="tidJlry != null">
        tid_jlry,
      </if>
      <if test="tidExpirespan != null">
        tid_expireSpan,
      </if>
      <if test="tidExpiredate != null">
        tid_expireDate,
      </if>
      <if test="tidBz != null">
        tid_bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tidId != null">
        #{tidId,jdbcType=INTEGER},
      </if>
      <if test="tidTm != null">
        #{tidTm,jdbcType=NVARCHAR},
      </if>
      <if test="tidTime != null">
        #{tidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tidZtbz != null">
        #{tidZtbz,jdbcType=INTEGER},
      </if>
      <if test="tidJlrq != null">
        #{tidJlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="tidJlry != null">
        #{tidJlry,jdbcType=NVARCHAR},
      </if>
      <if test="tidExpirespan != null">
        #{tidExpirespan,jdbcType=INTEGER},
      </if>
      <if test="tidExpiredate != null">
        #{tidExpiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="tidBz != null">
        #{tidBz,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.module.yf.model.TidModel">
    update Tid_det
    <set>
      <if test="tidTm != null">
        tid_tm = #{tidTm,jdbcType=NVARCHAR},
      </if>
      <if test="tidTime != null">
        tid_time = #{tidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tidZtbz != null">
        tid_ztbz = #{tidZtbz,jdbcType=INTEGER},
      </if>
      <if test="tidJlrq != null">
        tid_jlrq = #{tidJlrq,jdbcType=TIMESTAMP},
      </if>
      <if test="tidJlry != null">
        tid_jlry = #{tidJlry,jdbcType=NVARCHAR},
      </if>
      <if test="tidExpirespan != null">
        tid_expireSpan = #{tidExpirespan,jdbcType=INTEGER},
      </if>
      <if test="tidExpiredate != null">
        tid_expireDate = #{tidExpiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="tidBz != null">
        tid_bz = #{tidBz,jdbcType=NVARCHAR},
      </if>
    </set>
    where tid_id = #{tidId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.module.yf.model.TidModel">
    update Tid_det
    set tid_tm = #{tidTm,jdbcType=NVARCHAR},
      tid_time = #{tidTime,jdbcType=TIMESTAMP},
      tid_ztbz = #{tidZtbz,jdbcType=INTEGER},
      tid_jlrq = #{tidJlrq,jdbcType=TIMESTAMP},
      tid_jlry = #{tidJlry,jdbcType=NVARCHAR},
      tid_expireSpan = #{tidExpirespan,jdbcType=INTEGER},
      tid_expireDate = #{tidExpiredate,jdbcType=TIMESTAMP},
      tid_bz = #{tidBz,jdbcType=NVARCHAR}
    where tid_id = #{tidId,jdbcType=INTEGER}
  </update>

</mapper>